*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --global-background-color: #000000;
    --link-background-color: #f70606;
    --global-color-hover: rgb(5, 250, 176);
    --global-color-text: rgb(246, 247, 244);
    --gray-color: #ccc;
}

html{
    background-color: var(--global-background-color);
    color: var(--global-color-text);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-color-text);
    transition: all 0.7s;
}

a:hover{
    color: var(--global-color-hover);
}

input{
    border: none;
    margin: 0.8rem auto;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    transition: all 0.7s;
}

input:focus{
    border:solid 1px var(--link-background-color);
}

header{
    box-shadow: 0 8px 15px -3px var(--gray-color);
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
} 

header nav ul{
    list-style-type: none;
    display: inline-flex;
}

header nav ul li{
    margin: 0 1rem;
} 

@media screen and (max-width: 640px){
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 1rem;
    }
}

/* footer */

footer{ 
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: 0 -8px 15px -3px var(--gray-color);
}

/* modals */
.modals-wrapper{
    position: fixed;;
    width: 100%;
    height: 100%;
    background-color: var(--global-color-text);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: var(--global-background-color);
    min-width: 10rem;
    min-height: 10rem;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 0 8px 15px -3px var(--global-background-color);
}

#close-modal{
    background-color: var(--link-background-color);
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 5px;
}

#login-modal{
    background-color: var(--global-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}